.container {
    display: flex;
    flex-direction: row;
    padding-inline: 180px;
    padding-top: 24px;
}

.containerMobile {
    flex-direction: row;
    display: block;
    justify-content: unset;
    padding: 16px 16px 0px;
}

.formContainer {
    margin-left: 72px;
    width: 100%;
    height: 100%;
}

.formContainerMobile {
    margin-left: 72px;
    width: 100%;
    height: 100%;
    margin-top: unset;
    margin: auto;
    height: unset;
}

.title {
    margin-bottom: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #1B1B1F;
    margin-block-start: 0;
}

.buttonsContainer {
    margin-top: 36px;
    display: flex;
}

.nextButton {
    background: #2E63B4;
    padding: 8px 24px;
    border-radius: 27px;
    border: unset;
    color: white;
    font-weight: 700;
}

.backButton {
    font-size: 12px;
    text-transform: uppercase;
    background: none;
    border: none;
    text-decoration: underline;
    color: #2E63B4;
    margin-left: 24px;
}

.stepsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 36px;
}

.step {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: row;
}

.stepMobile {
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
}

.circleContainer {
    width: 56px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    border: 4px solid #f5f5f5;
}

.circleMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 4px solid #f5f5f5;
    width: 36px;
    height: 36px
}

.circleIn {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: #f5f5f5;
}

.circleInMobile {
    border-radius: 100%;
    background: #f5f5f5;
    width: 20px;
    height: 20px;
}

.circleActive {
    background: #00184A;
    border: 4px solid #00184A;
}

.circleInActive {
    background-color: white;
}

.stem {
    display: block;
    width: 4px;
    height: 56px;
    background: #f5f5f5;
    margin-block: 4px;
    border-radius: 16px;
}

.stemMobile {
    display: block;
    background: #f5f5f5;
    margin-block: 4px;
    border-radius: 16px;
    width: 53px;
    height: 4px;
    margin: 0;
    margin-inline: 4px;
}

.stemActive {
    background-color: #00184A;
}


.stepContainerMobile {
    display: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 16px;
    margin-bottom: 24px;
}

.circlePanel {
    width: 56px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circlePanelMobile {
    display: flex;
    align-items: center;
    width: 100%;
    height: 36px;
    flex-direction: row;
}

.stepText {
    white-space: nowrap;
    display: none;
    align-items: flex-end;
    margin: 0;
    margin-left: 24px;
    margin-bottom: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #00184A;
}

.stepTextMobile {
    white-space: nowrap;
    display: none;
    margin-left: 24px;
    margin-bottom: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: #00184A;
    margin: 0;
    font-size: 12px;
    margin-top: 8px;
    justify-content: end;
    align-items: unset;
}


.stepTextActive {
    display: flex;
}